<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="5" style="background-color:#F0EDE4;border-radius: 10px;">
  <tr>
    <td align="center">
     <table width="60%" border="0" cellspacing="0" cellpadding="0" style="background-color:rgb(000,082,156); margin-top:10px;border-bottom: 4px rgb(253,223,15) solid;border-top-left-radius: 10px;border-top-right-radius: 10px;">
        <tr>
          <td align="center" valign="top">
              <a href="#">
                  
      <img src="https://www.google.rw/ads/conversion/949715553/?random=1244856558&cv=8&fst=1442321318491&num=1&fmt=3&label=AHukCOTEuFoQ4YTuxAM&bg=ffffff&hl=en&guid=ON&u_h=768&u_w=1366&u_ah=728&u_aw=1366&u_cd=24&u_his=4&u_tz=120&u_java=true&u_nplug=6&u_nmime=8&frm=0&url=http%3A//www.rwandair.com/&ref=http%3A//www.rwandair.com/&ctc_id=CAIVAgAAAB0CAAAA&ct_cookie_present=false&cdct=2&convclickts=0&jaid=AJHaeXKW8iVsCcb1VynZQuaJXRtH37GJkHx031S9JoL5T7Dvq0n6&ebcid=ALh7CaSpLVQ2yifMcERa14_cTFY-gQq5LvX25swOgcfcaPGky1Kl8cKehNu2mp3nogptkSvcliLi0C4lp561g-LqRotkfPblNg&ocp_id=_BT4Vca8HsjObY7Lo_gE&random=203619398&ipr=y" alt="Rwandair Logo" width="100%" height="80" border="0" style="display:block"></a></td>
        </tr>
      </table>
      
<!--This next table encompasses the subtables that contain the bulk of your e-mail's content-->
      <table width="60%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;" >
        <tr>
          <td width="52%" style="padding-left:40px; padding-top:40px; padding-right:40px; padding-bottom:40px; vertical-align:top; background-color:#ffffff;">
              <div id="promocontent">
                  #WB_CUSTOM_PROMO_CONTENT#
              </div>
            </td>
        </tr>
      </table>
      <table width="60%" cellspacing="0" cellpadding="0" style="background-color:rgb(000,082,156); height: 80px;margin-bottom:50px;border-top: 4px rgb(253,223,15) solid;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;" >
        <tr>
          <td align="center">

<!--This next table is the innermost footer table that contains the contact information for your unit.-->
            <table width="60%" height="88" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <td style="text-align:left;padding-left:40px;padding-top:40px;padding-bottom:40px;padding-right:40px;">
                    <p></p>
                    </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
